.App {
    text-align: center;
}
/* Slider | Carousel */
.slider-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-slider-fluid {
    width: 100%;
    height: calc(100vh - 48px);
    object-fit: cover;
}
/* Cart Container | Right side of Inventory */
.cart-container {
    position: relative;
    height: 100%;
}
.cart-wrap {
    position: sticky;
    top: 48px;
    padding: 48px 0;
}

/* Owl carousal */
.owl-nav {
    font-size: 61px;
}
/* Custom form | Add Item */
.custom-form-container {
    width: 700px;
    text-align: start;
    box-shadow: 0 0 9px;
    margin: 9px auto;
    padding: 9px;
}

/* Inventory */
.inventory-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 9px;
}

/* Log In Page */
.container-login {
    width: 600px;
    margin: 9px auto;
}
/* Responsive */
@media screen and (max-width: 959px) {
    .custom-form-container {
        width: 95%;
    }
    .inventory-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .container-login {
        width: 98%;
    }
    .inventory-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
img.card-img-top {
    height: 300px;
}
.item img.card-img-top {
    width: 300px !important;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title.h5 {
    font-size: 50px;
}
